@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* Global styles */
:root {
  /* Primary */
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);

  /* Neutrals */
  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --fs-p: 18px;

  --ff: "Outfit", sans-serif;
  --fw-normal: 300;
  --fw-mid: 400;
  --fw-bold: 600;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Custom styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--very-dark-blue-main-bg);
  height: calc(100vh - 1);
  margin: 1.25rem;
  font-family: var(--ff);
}

img {
  max-width: 100%;
}

.card {
  --content-padding: 1.25rem;
  --content-spacing: 1rem;

  background: var(--very-dark-blue-card-bg);
  margin-bottom: 2rem;
  border-radius: 0.625rem;

  padding: var(--content-padding);
  box-shadow: rgb(0, 3, 6) 0px 20px 30px -10px;
}

@media (min-width: 500px) {
  .card {
    width: 400px;
  }
}

.card-img img {
  border-radius: 0.625rem;
  margin-bottom: 1rem;
}

.card-title {
  color: var(--Cyan);
  margin-bottom: 1.5rem;
}

.card-detail {
  font-size: var(--fs-p);
  color: var(--Soft-blue);
  margin-bottom: 1.5rem;
}
.time-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.eth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.diamond {
  width: 10px;
  height: 20px;
}

.card-eth {
  padding-left: 0.5rem;
  color: var(--Cyan);
  font-weight: var(--fw-mid);
}

.days {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  padding-right: 0.5rem;
}

.daysLeft {
  color: var(--Soft-blue);
}

.line {
  color: var(--very-dark-blue-line);
  margin-bottom: 1rem;
}

.profile-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--fs-p);
  margin-bottom: 1rem;
}
.profile {
  max-width: 35px;
  border: 1px solid var(--white);
  border-radius: 1.5rem;
}
.name {
  margin-left: 1rem;
  color: var(--Soft-blue);
  letter-spacing: 1px;
  font-weight: var(--fw-normal);
}

.cardName span {
  color: var(--Cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
